*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #08161e;
    text-align: center;
}
.game-title{
    display: inline-block;
    margin: 10px auto;
    min-width: 300px;
    /* width: 35vw; */
    padding: 10px;
    background-color: rgb(61, 77, 69);
    color: white;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

    /* border: 2px solid red; */
}
.box{
    background-color: #4a6359;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: 2px solid #bcd6d6;
    box-shadow: 2px 2px 16px #060606;
    font-size: 8vmin;
    color: #fff;

}
.new-btn{
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #333;
    border: 5px solid black;
    color: white;
    border-radius: 1rem;
    margin: 5vh 0;
}
.new-btn:hover{
    background-color: #222;
}

#msg{
    color: white;
    font-size: 8vmin;
    background-color: #444;
    border: 2px solid #222;
    border-radius: 10px;
    padding: 20px 30px;
    display: inline-block ;
}
.msg-container{
    height: 20vmin;
    margin-top: 10vh;
    
}
.hide{
    display: none;
}
.hide-game{
    display: none;
}

.adj-btn{
    margin: 20vmin;
}

